<div *ngIf="loaded == true; else spinner">
    <div class="border-bottom">
        <div class="container pt-3 bg-white">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <div class="m-2 text-center">
                            <img  routerLink="/product/{{product.fields.slug}}" src="http://127.0.0.1:8000/media/{{product.fields.image1}}" (click)="close()" class="prod-img p-2" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="d-flex mt-4 p-2 ">
                        <div class="w-75">
                            <div class="h4 text-dark outline-none" (click)="close()" routerLink="/product/{{product.fields.slug}}">
                                {{ product.fields.title }}
                            </div>
                            <small class="text-secondary">
                                {{ product.fields.category }} > {{ product.fields.sub_category }}
                            </small>
                            <div class="h4 text-success p-2 mb-0">
                                ₹{{ order.fields.amount }}/-
                            </div>
                            <div class="pl-2 text-secondary">
                                <small>
                                    Qty:
                                </small>
                                <span>
                                    {{ order.fields.product_quantity }}
                                </span>
                            </div>
                        </div>
                        <div class="text-right w-25">
                            <div *ngIf="(order.fields.payment_type == 'Online' && order.fields.refund_status != 'Success' && order.fields.order_status != 'Delivered') || (order.fields.payment_type == 'COD' && order.fields.order_status != 'Cancelled' && order.fields.order_status != 'Delivered') " class="m-2 pt-4 pl-4">
                                <button  [disabled]="show_cancel == false" mat-flat-button class="text-dark bg-light" (click)="cancel()">Cancel Order</button>
                            </div>
                            <div *ngIf="order.fields.order_status == 'Delivered'" class="m-2 pt-4 pl-4">
                                <button [disabled]="show_cancel == false" class="text-dark bg-light"  mat-flat-button>
                                    Return
                                </button>
                            </div>
                            <div *ngIf="order.fields.order_status == 'Return requested'" class="m-2 pt-4 pl-4">
                                <button [disabled]="show_cancel == false" class="text-dark bg-light"  mat-flat-button>
                                    Cancel Return Request
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div *ngIf="order.fields.expected_delivery"  class="bg-light border-bottom p-2">
            <div class="w-100">
                <div class="text-center font-weight-bold pl-2 pr-2">
                    Expected delivery on {{ order.fields.expected_delivery }}
                </div>
            </div>
            
        </div>
        <div class="border-bottom p-3">
            <div class="row w-100">
                <div class="col-md-6">
                    <div class="m-2 p-2">
                        <div>
                            <span class="h5">Delivery address:</span>
                        </div>
                        <div class="p-2 border">
                            <div class=" d-flex">
                                <div class="mr-2">
                                    <small>House or office name: </small>
                                    <span class="h6"> {{ address.fields.house_or_office_name }} </span>
                                </div>
                                <div class="mr-2">
                                    <small>Landmark: </small>
                                    <span class="h6"> {{ address.fields.landmark }} </span>
                                </div>
                            </div>
                            <div class=" d-flex">
                                <div class="mr-2">
                                    <small>State: </small>
                                    <span class="h6"> {{ address.fields.state }} </span>
                                </div>
                                <div class="mr-2">
                                    <small>District: </small>
                                    <span class="h6"> {{ address.fields.district }} </span>
                                </div>
                            </div>
                            <div class=" d-flex">
                                <div class="mr-2">
                                    <small>Pincode: </small>
                                    <span class="h6"> {{ address.fields.pincode }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                   <div class="d-flex">
                    <div class="p-4 text-center">
                        <div>
                            <span class="h6">Order Status:</span>
                        </div>
                        <div *ngIf="order.fields.order_status != 'Cancelled'; else cancelv" class="h4 text-success">
                            {{ order.fields.order_status }}
                        </div>
                        <ng-template #cancelv>
                            <div class="h4 text-danger">
                                {{ order.fields.order_status }}
                            </div>
                        </ng-template>
                    </div>
                    <div *ngIf="order.fields.order_status == 'Delivered' " class="pt-4 text-right w-50">
                        <button mat-flat-button color="primary" (click)="feedback()">Give feedback</button>
                    </div>
                   </div>
                </div>
            </div>
            <div class="row w-100">
               <div class="col-md-6">
                <div class="p-2 ml-2">
                    <span class="h6">Order id: </span> <span class="h5 font-weight-bold"> {{ order.fields.order_id }}</span>
                </div>
               </div>
               <div class="col-md-6">
                   <div class="p-2 ml-2 text-center">
                    <div>
                        Order type: <span class="font-weight-bold">{{ order.fields.payment_type }}</span>
                    </div>
                   </div>
               </div>
            </div>
        </div>
        <div class="bg-light p-2 mb-2 border-bottom">
            <div class="d-flex justify-content-between w-100">
                <div class="">
                <span class="d-flex">
                    <span>
                        Selled by &nbsp; 
                    </span>
                    <mat-chip-list>
                        <mat-chip class="bg-primary" routerLink="/view-seller/{{ order.fields.seller }}" (click)="close()">
                            <mat-chip-avatar>
                                <img class="w-100" src="assets/img/seller.svg" alt="">
                            </mat-chip-avatar>
                            <span class="text-white">
                                {{ seller_name }}
                            </span>
                            </mat-chip>
                    </mat-chip-list>
                    
                </span>
                </div>
                <div class="">
                    <div class="text-center">
                        Ordered on {{ order.fields.ordered_date | date }}
                    </div>
                </div>
                <div class="">
                    <div class="text-right">
                        <mat-chip-list>
                            <mat-chip *ngIf="order.fields.refund_status == 'Success'; else paycom" class="bg-warning text-dark ml-auto">
                                Payment Refunded
                            </mat-chip>
                            <ng-template #paycom>
                                <mat-chip *ngIf="order.fields.payment_success" class="bg-success text-white ml-auto">
                                    Payment Completed
                                </mat-chip>
                            </ng-template>
                            <mat-chip *ngIf="!order.fields.payment_success" class="bg-danger text-white ml-auto">
                                Payment not done
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #spinner>
    <div>
        <mat-spinner diameter="60" class="mt-5 mx-auto mb-5"></mat-spinner>
    </div>
</ng-template>
