<app-navbar></app-navbar>
<div *ngIf="loaded; else spinner">
    <div class="container">
        <div class="row justify-content-between p-2">
            <div class="col-md">
                <span class="h5">
                    Seller Profile
                </span>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="mr-2 mx-auto bg-white p-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <img src="/assets/img/seller.svg" alt="" class="bg-primary w-100 rounded-circle p-2">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <span class="h4">{{res.first_name}} {{res.last_name}}</span>
                                <span class="d-block pt-1 pb-1">
                                    <mat-icon class="loc-icon">location_on</mat-icon>
                                    <span class="pb-1 align-top">{{res.state}}</span>
                                </span>
                                <span class="d-block">
                                    <mat-icon class="loc-icon">mail</mat-icon>
                                    <span class="pt-2 pb-2 align-top">
                                        {{res.email}}
                                    </span>
                                </span>
                                <div>
                                    <button (click)="chatToSeller(res.id, res.first_name)" mat-flat-button class="bg-primary text-white mt-3">Chat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ml-2 mx-auto bg-white">
                  <div class="row">
                      <div class="col-4 border-right">
                          <div class="text-center p-2">
                            <span class="h5 text-danger">
                                Total Products
                            </span>
                            <span class="d-block h4 text-danger mt-3">
                                {{ res.total_products }}
                            </span>
                          </div>
                      </div>
                      <div class="col-4 border-right">
                        <div class="text-center p-2">
                            <span class="h5 text-success">
                                Successful Orders
                            </span>
                            <span class="d-block h4 text-success mt-3">
                                {{ res.successful_orders }}
                            </span>
                          </div>
                      </div>
                      <div class="col-4">
                        <div class="text-center p-2">
                            <span class="h5 text-warning">
                                Rating
                            </span>
                            <span class="d-block h4 text-warning mt-3">
                                <span>3</span>
                                <mat-icon class="align-bottom">star</mat-icon>
                            </span>
                          </div>
                      </div>
                  </div>  
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #spinner>
    <mat-spinner diameter="50" class="mx-auto mt-5 pt-5 spinner"></mat-spinner>
</ng-template>