<div class="navbar bg-white">
   <div class="d-flex container justify-content-between">
            <div class="logo d-flex">
                <a routerLink = ''>
                        <img class="w-100 logo-img" src="assets/img/logo.png" alt="">
                </a>
                <div>
                        <mat-form-field class="mt-3 ml-3" >
                                <input id="search-box" matInput placeholder="Search a product" >
                                <button (click)="search()" mat-flat-button matSuffix><mat-icon>search</mat-icon> </button>
                        </mat-form-field>
                        <div class="position-relative">
                                <div *ngIf="search_res != null" class="search-result">
                                   <div *ngIf="search_res.length > 0; else noresult">
                                    <div *ngFor="let r of search_res" class="product-item d-flex" routerLink="/product/{{r.fields.slug}}">
                                        <div class="w-25 text-center">
                                            <img class="product-thumbnail" src="http://127.0.0.1:8000/resize/?path={{r.fields.image1}}&size=40,40" alt="">
                                        </div>
                                        <div class="w-75">
                                            <div class="p-title">
                                                {{ r.fields.title }}
                                            </div>
                                        </div>
                                    </div>
                                   </div>
                                   <ng-template #noresult>
                                       <div class="text-secondary">
                                           No results found
                                       </div>
                                   </ng-template>
                                </div>
                        </div>
                </div>
                
           </div>
            <div class="mt-3">
                <button *ngIf="!getisLoggedin" mat-flat-button (click)="loginSignupBtn()"><mat-icon>person</mat-icon> Login & Sign Up</button>
                <button class="ml-2 mr-4 bg-blue-light" matBadge="{{ chats }}" matBadgeColor="accent" [matMenuTriggerFor]="loginMenu" *ngIf="getisLoggedin" mat-flat-button ><mat-icon>person</mat-icon>Welcome {{ userName }}</button>
                        <mat-menu #loginMenu="matMenu">
                                <button routerLink='/orders' mat-menu-item>Orders<mat-icon class="ml-3 text-primary float-right mt-2">shopping_cart</mat-icon></button>
                                <button (click)="chat()" mat-menu-item >Chats<mat-icon matBadge="{{ chats }}" matBadgeColor="accent" class="ml-3 text-primary float-right mt-2">chat</mat-icon></button>
                                <button  routerLink='/account' mat-menu-item> Account Settings <mat-icon class="ml-3 text-primary float-right mt-2">person</mat-icon></button>
                                <button (click)="logoutUser()" mat-menu-item>Logout<mat-icon class="ml-3 text-primary float-right mt-2">exit_to_app</mat-icon></button>
                        </mat-menu>
            <button (click)="goToCart()" class="bg-light" [matBadgeHidden]="!getCartLength" matBadge="{{getCartLength}}"  matBadgeColor="accent" mat-flat-button ><mat-icon color="accent">shopping_cart</mat-icon> <span class="color-second">Cart</span></button>
        </div>
   </div>
</div>
