button{
    outline: none;
}
.logo {
    width: 37%;
}
.navbar{
    box-shadow: 2px 3px 11px #00000014;
    position: sticky;
    z-index: 10;
    top: 0px;
}
button {
    color: #3396f6 !important;
}
.logo-img{
    margin-top: 34px;
    margin-right: 10px;
}
.bg-blue-light{
    background: #2196f30d;
}
.product-item {
    background: whitesmoke;
    padding: 5px 3px;
    margin-top: 7px;
}
.search-result {
    background: white;
    position: absolute;
    z-index: 100;
    box-shadow: 0px 0px 11px #00000014;
    padding: 10px;
    width: 350px;
    top: -10px;
}