<div *ngIf="products.length > 0">
    <div *ngIf="bags().length > 0">
        <h4 class="text-primary">Bags</h4>
        <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let b of bagsArray" carouselSlide>
                <div routerLink="/product/{{b.slug}}" class="product-item bg-white p-2 m-2">
                    <div class="d-flex">
                        <div class="text-center">
                            <img src="{{b.image1}}" alt="" class="prod-img">
                        </div>
                        <div class="p-3 mtb-auto">
                            <div class="prod-info">
                                <div>
                                    <h5 class="text-primary mb-0">{{b.title}}</h5>
                                </div>
                                <div>
                                    <small class="text-secondary mb-3">
                                        {{b.category}} > {{b.sub_category}}
                                    </small>
                                </div>
                                <div>
                                    <div class="color-second font-weight-bold">
                                        Buy at {{ getPrice(b.price, b.discount_percentage) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </ng-template>  
        </owl-carousel-o>
    </div>
    <div *ngIf="laptops().length > 0">
        <h4 class="text-primary">Laptops</h4>
        <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let b of lapsArray" carouselSlide>
                <div routerLink="/product/{{b.slug}}" class="product-item bg-white p-2 m-2">
                    <div class="d-flex">
                        <div class="text-center">
                            <img src="{{b.image1}}" alt="" class="prod-img p-3">
                        </div>
                        <div class="p-3 mtb-auto">
                            <div class="prod-info">
                                <div>
                                    <h5 class="text-primary mb-0">{{b.title}}</h5>
                                </div>
                                <div>
                                    <small class="text-secondary mb-3">
                                        {{b.category}} > {{b.sub_category}}
                                    </small>
                                </div>
                                <div>
                                    <div class="color-second font-weight-bold">
                                        Buy at {{ getPrice(b.price, b.discount_percentage) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </ng-template>  
        </owl-carousel-o>
    </div>
</div>