<app-seller-nav></app-seller-nav>
<div>
    <div class="text-center pt-5 mt-5 text-primary">
        <h4 class="pb-3">Verify OTP</h4>
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
        <div *ngIf="otpSent; else resendBtn">
            <mat-spinner diameter="50" class="mx-auto mt-4"></mat-spinner>
            Verifying..
        </div>
        <ng-template #resendBtn>
            <button id="resentBtn" (click)="resend()" [disabled]="resentOtp" mat-flat-button color="accent" class="mt-4 mb-2">Resend OTP</button>
        </ng-template>
        <p>
            <small class="text-danger font-weight-bold">
                {{ error }}
            </small>
        </p>
        <p>
            <small class="text-secondary">
                Verify your seller account by entering the OTP that sent to your registered email id.
            </small>
        </p>
    </div>
</div>
