<div *ngIf="loaded; else spinner" class="chat-sec">
<div *ngIf="actual_response.no_chat == false; else emptychat">
    <div class="w-100 p-1 bg-primary">
        <h4 class="text-center text-white">
            Chats
        </h4>
    </div>
    <div class="d-flex">
        <div class="w-30 bg-light cust-sec border-right">
            <div *ngFor="let s of actual_response.sellers" class="mt-1">
                <div (click)="sellerSelect(s.id)" class="d-flex border-bottom position-relative" [ngClass]="{'bg-primary text-white':actual_response.active_thread.other == s.id, 'chat_badge':chat_indicator == s.id}">
                    <div class="w-25">
                        <img src="assets/img/customer/customer.png" alt="" class="w-100 rounded-circle p-2">
                    </div>
                    <div class="w-75">
                        <h5 class="p-3 pt-4">{{ s.name }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-70 p-2 position-relative">
            <div class="mesg-sec">
                <span *ngFor="let m of messages">
                    <span *ngIf="m.fields.thread == actual_response.active_thread.thread" [ngClass]="{'yourChat':m.fields.user == actual_response.id, 'otherChat': m.fields.user == actual_response.active_thread.other}">{{m.fields.message}}</span>
                </span>
            </div>
            <div class="d-flex action-sec">
                <div class="w-75">
                    <textarea class="chat-box" placeholder="Type your message"></textarea>  
                </div>
                <div class="w-25">
                    <button (click)="sendMsg()" matRipple class="send-btn" color="accent" >
                        <mat-icon>send</mat-icon>

                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>

<ng-template #spinner>
    <mat-spinner diameter="50" class="mx-auto mt-5 pt-5 spinner"></mat-spinner>
</ng-template>

<ng-template #emptychat>
    <div class="text-center">
        <div class="w-100 chat-empty">
            <img src="assets/img/customer/empty.png" alt="" class="w-50">
        </div>
        <span class="h5 text-warning">
            You dont have any chats to show
        </span>
    </div>
</ng-template>