.w-30{
    width: 30%;
}
.w-70{
    width:70%;
}
.chat-sec{
    height: 100%;
}
.cust-sec{
    height: 605px;
    max-height: 605px;
    overflow-y: scroll;
}
.mesg-sec{
    max-height: 530px;
    overflow-y: scroll;
    padding-right: 10px;
}
.chat-box {
    border: 1px solid #00000033;
    border-radius: 10px;
    width: 96%;
    margin-top: 5px;
    max-height: 55px;
    resize: none;
    outline: none;
    padding: 7px;
}
.send-btn{
    background: #007bff;
    border: none;
    color: white;
    padding: 12px;
    outline: none;
    width: 90%;
    margin-top: 5px;
    border-radius: 10px;
}
.chat-box::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    width: 3px !important;
}
.chat-box::-webkit-scrollbar{
    width:3px !important;
}
.action-sec{
    max-height: 60px !important;
    overflow-y: scroll;
    position: absolute;
    bottom: 5px;
    width:98%;
}
.spinner{
    margin-top:25% !important;
}
.otherChat {
    display: table;
    background: whitesmoke;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 15px;
    max-width: 50%;
}
.yourChat {
    background: #007bffb8;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 15px !important;
    display: table;
    margin-left: auto;
    max-width: 50%;
}
.chat-empty{
    padding:200px;
    padding-bottom: 0px !important;
}
.chat_badge::before {
    content: "";
    background: red;
    height: 13px;
    width: 13px;
    position: absolute;
    margin: 5px;
    border-radius: 15px;
    right: 0px;
    box-shadow: 0px 0px 8px #00000063;
}