<div>
    <div class="p-4">
        <div class="h4 color-second pb-3">
            Add Address
        </div>
        <form [formGroup]="addressForm" (submit)="addAddress()">
            <div class="row w-100">
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <input autocomplete="off" matInput formControlName="house_or_office_name" placeholder="House / Office Name">
                    </mat-form-field>   
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <input autocomplete="off" matInput formControlName="landmark" placeholder="Landmark">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <input autocomplete="off" matInput formControlName="state" placeholder="State">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <input type="number" autocomplete="off" matInput formControlName="pincode" placeholder="Pincode">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <input autocomplete="off" matInput formControlName="district" placeholder="District">
                    </mat-form-field>
                </div>
            </div>
            <div class="text-right mt-4">
                <button mat-flat-button color="accent" [disabled]="!addressForm.valid">Add</button>
                <button type="button" (click)="close()" mat-flat-button class="bg-light ml-2">Cancel</button>
            </div>
        </form>
    </div>
</div>
