.prod-item {
    max-width: 20%;
    min-width: 20%;
    margin-right: 15px;
    text-align: center;
    margin-bottom: 10px;
}
.products{
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    user-select: none;
    cursor: pointer;
}
.products.active{
    cursor:grabbing;
}
.line-through{
    text-decoration: line-through;
}
.prod-img{
    max-height: 125px;
    width:auto;
}
a:hover {
    color: #527bff;
    text-decoration: none;
}
.footer{
    background: #ffffff !important;
    position: absolute;
    left: 0;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
}
.footer-link {
    display: inline-block;
    text-align: center;
    color: #ff4081;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 15px;
    cursor: pointer;
    letter-spacing: 4px;
}