<app-navbar></app-navbar>
<div class="p-3">
    <div>
        <app-banner></app-banner>
    </div>
    <h4>All Poducts</h4>
    <div class="d-flex products pt-2" (mousedown)="mouseDown($event)" (mouseleave)="mouseLeave()" (mousemove)="mouseMove($event)" (mouseup)="mouseUp()">
            <mat-card matRipple class="prod-item" *ngFor="let p of products">
                    <a routerLink="product/{{p.slug}}">
                        <mat-card-title>
                                <h6 class="text-center">{{ p.title }}</h6>
                            </mat-card-title>
                            <img class="prod-img mt-1 mb-2" mat-card-image src="{{ p.image1 }}" alt="">
                            <div>
                                    <h6 class="color-second">
                                            Buy at ₹{{ p.realprice }}/-
                                    </h6>
                            </div>
                            <div class="d-flex justify-content-center mt-3 mb-1" *ngIf="p.discount_percentage > 0">
                                    <h6 class="text-secondary mr-2 line-through text-center">
                                            ₹{{ p.price }}
                                    </h6>
                                    <h6 class="text-secondary text-center">
                                
                                            ₹{{ p.price - p.realprice}} off! 
                                    </h6>
                            </div>
                            <small class="text-secondary">
                                {{ p.sub_category }}
                            </small>
                    </a>
            </mat-card>
    </div>

    <app-product-by-categories [products]="products"></app-product-by-categories>

    <div class="footer">
        <div>
            <span class="footer-link" routerLink="seller">
                Seller Login
            </span>
        </div>
    </div>
</div>

