<app-seller-nav></app-seller-nav>
<div class="d-flex bg-white ht-100">
    <div class="w-50 pl-3 pt-5 mt-5 pb-5">
        <h2 class="pt-5 pb-3 mt-2 fs-45px">
            Let's start your largest Store!
        </h2>
        <button (click)="sellerRegister()" class="ml-2 w-25" mat-flat-button color="warn">Register Now</button>
    </div>
    <div class="w-50">
        <img src="assets/img/seller-banner.png" alt="" class="w-100">
    </div>
</div>
