
<div>
    <owl-carousel-o [options]="customOptions" *ngIf="banners.length > 0">
        <ng-template *ngFor="let b of banners" carouselSlide>
            <div class="poeition-relative">
                <img src="http://127.0.0.1:8000/media/{{b.fields.image}}" alt="" class="owl-image">
                <div class="owl-text">
                    {{b.fields.title}}
                </div>
            </div>
            
        </ng-template>  
    </owl-carousel-o>
</div>