.owl-carousel .owl-item img {
    display: block;
    width: auto !important;
}
.owl-image{
    height: 250px;
    width: auto !IMPORTANT;
    margin: auto;
}
.owl-text {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    text-shadow: -2px -2px 3px black, 2px 2px 4px #9a9a9a;
}
.owl-carousel{
    background: linear-gradient(45deg, #3694f6, #ff4081) !important;
    margin-bottom: 10px !important;
}