.product-img{
    height: 140px;
}
.price {
    color: #ff4081;
    font-size: 25px;
    font-weight: 500;
}
span.rating {
    background: #4CAF50;
    color: white;
    padding: 3px 8px;
    font-size: 13px;
    border-radius: 10px;
    font-weight: 600;
}
.categories {
    font-size: 13px;
    color: #909090;
}
.filter{
    background: white;
    padding: 10px;
    text-align: center;
    margin-top: 8px;
}
.radio-btn {
    font-size: 13px;
    margin: 0px 8px;
}