<app-navbar></app-navbar>
<div>
    <div class="filter">
        <span>
            Sort By
        </span>
        <mat-radio-group [(ngModel)]="filter" (change)="inputf()">
            <mat-radio-button class="radio-btn"  value="lowtohigh">
                Price -- Low to High
            </mat-radio-button>
            <mat-radio-button class="radio-btn"  value="hightolow">
                Price -- High to Low
            </mat-radio-button>
            <mat-radio-button class="radio-btn"  value="toprated">
               Top Rated
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="row w-100">
        <div *ngFor="let p of products" class="text-center col-md-6 p-0">
            <div routerLink="/product/{{p.fields.slug}}" class="bg-white p-1 m-2 outline-none">
                <div class="row w-100">
                    <div class="col-4 text-center">
                        <img class="product-img p-2" src="http://127.0.0.1:8000/media/{{p.fields.image1}}" alt="">
                    </div>
                    <div class="col-8">
                        <div class="text-left">
                            <div class="pt-2 pb-1 h5 text-primary mb-0">
                                {{p.fields.title}}
                            </div>
                            <div class="categories">
                                {{p.fields.category}} > {{p.fields.sub_category}}
                            </div>
                            <div class="mt-1 mb-1">
                                <span *ngIf="getRating(p.pk).rating != 0" class="rating">
                                    {{ getRating(p.pk).rating }} ★
                                </span>
                            </div>
                            <div class="price">
                                ₹ {{p.fields.price}} /-
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>