<div class="p-2">
    <div *ngIf="loaded; else spinner" class="w-100 row">
        <div class="col-7">
            <mat-vertical-stepper>
                <mat-step>
                    <ng-template matStepLabel>Select Quantity</ng-template>
                    <div>
                        <div class="row w-100">
                            <div class="col-5 mr-auto">
                                <img src="http://127.0.0.1:8000/media/{{product.fields.image1}}" alt="" class="prod-img p-1 m-1">
                            </div>
                            <div class="col-7">
                                <div class="p-25">
                                    <div class="h5">{{product.fields.title}}</div>
                                    <small>{{product.fields.category}}</small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>Quantity</mat-label>
                                <mat-select id="qty" (selectionChange)="quantity($event)"  #qua value=1>
                                  <mat-option value=1 *ngIf="1 <= stock">
                                    1
                                  </mat-option>
                                  <mat-option value=2 *ngIf="2 <= stock">
                                    2
                                  </mat-option>
                                  <mat-option value=3 *ngIf="3 <= stock">
                                    3
                                  </mat-option>
                                  <mat-option value=4 *ngIf="4 <= stock"> 
                                    4
                                  </mat-option>
                                  <mat-option value=5 *ngIf="5 <= stock">
                                    5
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Select Delivery Address</ng-template>
                    <div>
                        <mat-radio-group [(ngModel)]="selAddress">
                            <div class="p-3 border m-1" *ngFor="let addr of addresses">
                                <mat-radio-button value="{{addr.pk}}"></mat-radio-button>
                                <div class="p-1">
                                    <small>Home/ Office Name:</small>
                                    <span class="h6">
                                        {{addr.fields.house_or_office_name}}
                                    </span>
                                </div>
                                <div class="p-1">
                                    <small>State:</small>
                                    <span class="h6">
                                        {{addr.fields.state}}
                                    </span>
                                </div>
                                <div class="p-1">
                                    <small>District</small>
                                    <span class="h6">
                                        {{addr.fields.district}}
                                    </span>
                                </div>
                                <div class="p-1">
                                    <small>Landmark</small>
                                    <span class="h6">
                                        {{addr.fields.landmark}}
                                    </span>
                                </div>
                                <div class="p-1">
                                    <small>Pincode</small>
                                    <span class="h6">
                                        {{addr.fields.pincode}}
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="addresses.length == 0">
                                <button (click)="addAddress()" mat-flat-button color="primary">
                                    <mat-icon>add</mat-icon>
                                    Add Delivery Address
                                </button>
                            </div>
                        </mat-radio-group>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Select Payment</ng-template>
                    <div class="m-2 pt-4">
                        <mat-radio-group [(ngModel)]="payment" class="pt-3 pb-3">
                            <mat-radio-button checked class="d-flex" value="Online">Online</mat-radio-button>
                            <mat-radio-button class="d-flex" value="COD">Cash On Delivery</mat-radio-button>
                        </mat-radio-group>
                        <button (click)="pay()" mat-flat-button [disabled]="selAddress == false" color="primary" class="mt-2 mb-2">
                            Pay
                        </button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
        <div class="col-5">
            <div class="show-p-info">
                <div class="p-1">
                    <small>Actual Price: </small>
                    <span class="h6">₹ {{ product.fields.price * qua.value }} /-</span>
                </div>
                <div class="p-1">
                    <small>
                        Discounted price:  
                    </small>
                    <span class="h6">
                        ₹ {{  (product.fields.price * qua.value )- bill_price }}/-
                    </span>
                </div>
                <div class="p-1">
                    <small>
                        Quantity: 
                    </small>
                    <span class="h6">
                        {{  qua.value }}
                    </span>
                </div>
                <hr>
                <div class="p-1">
                    <small>
                        Payable amount: 
                    </small>
                    <span class="h5 text-success">
                        ₹ {{ bill_price }}/-
                    </span>
                </div>
            </div>
        </div>
    </div>
    <ng-template #spinner>
        <div class="p-5">
            <mat-spinner radius="60" class="p-5"></mat-spinner>
        </div>
    </ng-template>
    <span style="display: none;">
        <form id="paying_form" action="http://127.0.0.1:8000/api/pay/" method="POST">
            <input type="text" name="token" id="token">
            <input type="text" name="username" id="username">
            <input type="text" name="data" id="req_data">
        </form>
    </span>
</div>
