<div>
    <div class="p-2 text-center">
        <div class="h5 text-primary">
            Alternate Seller Request
        </div>
        <div class="pt-3 pb-3">
            <mat-form-field class="p-1">
                <input id="sellingprice" type="number" matInput placeholder="Your Selling Price">
            </mat-form-field>
            <mat-form-field class="p-1">
                <input id="stock" type="number" matInput placeholder="Available stock">
            </mat-form-field>
        </div>
        <div class="d-flex text-right">
            <button [disabled]="success" (click)="submit()" class="ml-auto" mat-flat-button color="primary">Submit</button>
            <button (click)="close()" class="ml-2 bg-light" mat-flat-button>Cancel</button>
        </div>
    </div>
</div>