<mat-progress-bar *ngIf="showProgress" mode="query"></mat-progress-bar>
<div class="p-4">
    <div *ngIf="!success">
        <div class="text-center pt-3 d-block">
            <h5 class="text-danger">
                Are you sure want to delete {{ title }}?
            </h5>
        </div>
        <div class="text-right mr-4 mt-4 pt-4 d-block">
            <button [disabled]="showProgress" (click)="deletep()" class="mr-3" mat-raised-button color="warn">Delete</button>
            <button (click)="cancel()" mat-raised-button>Cancel</button>
        </div>
    </div>
    <div *ngIf="success" class="p-2 d-block">
        <h5 class="text-success text-center">
            {{ message }}
        </h5>
    </div>
    <div *ngIf="error" class="p-2 d-block">
        <h5 class="text-danger text-center">
            {{ error }} 
        </h5>
    </div>
</div>
