<div>
    <div *ngIf="loaded; else spinner">
        <div class="p-3">
            <h4 class="text-primary">
                Edit Product
            </h4>
            <div class="m-3 pt-5 pb-5">
               <form [formGroup]="selling_info" (submit)="submit($event)">
                <mat-form-field class="d-block">
                    <input formControlName="price" id="selling_price" type="number" matInput placeholder="Selling Price" name="selling_price">
                </mat-form-field>
                <mat-form-field class="d-block">
                    <input formControlName="stock" id="available_stock" type="number" matInput placeholder="Available stock" name="available_stock">
                </mat-form-field>
                <div class="d-flex pt-4 pb-4">
                    <button [disabled]="success" mat-flat-button color="primary"> Submit </button>
                    <button mat-flat-button class="bg-light ml-2" type="button" (click)="cancel()">Cancel</button>
                </div>
               </form>
            </div>
        </div>
        <small class="d-block text-center">
            You are an alternate seller to this product
        </small>
    </div>
    <ng-template #spinner>
        <mat-spinner class="pt-5 mx-auto" diameter="40"></mat-spinner>
    </ng-template>
</div>