<div *ngIf="show_send; else msgbox">
   <div class="mt-4 mb-4 p-3">
       <div class="text-center">
        <span class="text-center text-success h5">
            Message sent successfully 
        </span>
         <mat-icon class="text-success font-weight-bold">checked</mat-icon>
       </div>
   </div> 
</div>
<ng-template #msgbox>
    <div class="p-3"  *ngIf="error.show == false">
        <span class="h5 text-primary d-block">
            Write your message to {{ info.name }}
        </span>
        <textarea class="chat-box d-block" placeholder="type your message"></textarea>
        <div class="d-block float-right m-3">
            <button mat-raised-button (click)="send()" color="accent" class="mr-2">
                Send
            </button>
            <button mat-raised-button (click)="cancel()">
                Cancel
            </button>
        </div>
    </div>
</ng-template>
<div *ngIf="error.show">
    <div class="p-3">
        <div class="text-center text-danger">
            <h5>{{ error.message }}</h5>
        </div>
    </div>
</div>
