.ord-img {
    height: 125px;
    width: auto;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.order-info {
    bottom: 0px;
    position: absolute;
    right: 0px;
    max-width: 50%;
}
.cancelled-order::before {
    padding: 3px 10px;
    background: red;
    content: "Cancelled";
    color: white;
    font-weight: bold;
    position: absolute;
    right: 0;
    border-radius: 7px;
    margin: 4px;
    font-size: 14px;
}
