<app-navbar></app-navbar>
<div>
    <div *ngIf="orders.length > 0; else empty">
        <div class="container">
            <div class="row">
                <div class="col-6" *ngFor="let order of orders; let i = index">
                    <div [class.cancelled-order]="order[0].fields.order_status == 'Cancelled'" class="bg-white m-2 border d-flex position-relative" matRipple>
                        <div>
                            <div class="text-center">
                                <img class="ord-img p-3" src="http://127.0.0.1:8000/media/{{ products[i][0].fields.image1 }}" alt="">
                            </div>
                            <div class="h6 text-dark p-2 text-center">
                                     {{ products[i][0].fields.title }}
                            </div>
                        </div>
                        <div class="p-3 order-info">
                            <div *ngIf=" order[0].fields.expected_delivery">
                                <div *ngIf="(order[0].fields.order_status != 'Delivered') && (order[0].fields.order_status != 'Cancelled'); else delivered" class="text-dark font-weight-bold">
                                    Expected delivery on {{ order[0].fields.expected_delivery | date }}
                                </div>
                            </div>
                            
                                <div *ngIf="order[0].fields.order_status == 'Delivered'" class="text-success">
                                Order delivered successfuly
                                </div>
                                
                            <div class="mt-3">
                                    Ordered On  {{ order[0].fields.ordered_date | date }}
                                    <br>
                                    <button (click)="view(order[0].fields.order_id)" class="mt-2" mat-raised-button color="accent">View more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #empty>
        <div class="pt-5 mt-5">
            <div class="text-center">
                <img src="assets/img/customer/720.jpg" class="w-25">
                <div class="h5 text-warning">
                    You don't have any orders.
                </div>
            </div>
        </div>
    </ng-template>
</div>


<!-- <mat-card matRipple class="m-1 col-5" *ngFor="let order of orders; let i = index">
    <div class="container"> 
        <div class="row">
            <div class="col-6 text-right">
                <div>
                    <img class="ord-img" src="http://127.0.0.1:8000/media/{{ products[i][0].fields.image1 }}" alt="">
                </div>
                <div>
                         {{ products[i][0].fields.title }}
                </div>
            </div>
            <div class="col-6 text-left">
                <div *ngIf="order[0].fields.order_status != 'Delivered'; else delivered" class="text-dark">
                    Expected delivery on {{ order[0].fields.expected_delivery | date }}
                </div>
                <ng-template #delivered>
                    <div class="text-success">
                    Order delivered successfuly
                    </div>
                </ng-template>
                <div class="mt-3">
                        Ordered On  {{ order[0].fields.ordered_date | date }}
                        <br>
                        <button class="mt-2" mat-raised-button color="accent">Track</button>
                </div>
            </div>
        </div>
        
    </div>
</mat-card> -->