.star-templ {
    color: skyblue;
    text-shadow: 0px 0px 7px #00000061;
    letter-spacing: 6px;
    transition: .5s;
}
.active-star{
    color: #ff4081 !important;
}
.comment-box {
    width: 50%;
    margin-left: 25%;
    border: 0px;
    resize: none;
    outline: none;
    height: 189px;
    padding: 10px 18px;
    box-shadow: 0px 0px 18px #9e9e9e42;
    border-radius: 15px;
}
.feb-submit {
    border: 0;
    background: #ff4081;
    color: #ffffff;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 1px #0000004f;
}

