<div class="container">
    <div class="pt-4 pl-3">
        <span class="h4 text-primary">Feedback</span>
    </div>
    <div class="m-2 pt-5 text-center">
        <ngb-rating class="outline-none"  [max]="5" [(rate)]="selected" (leave)="hovered=0" [readonly]="readonly">
            <ng-template>
                <div  [class.firs]="index == 1"  class="h1 star-templ"  (click)="starSel()">
                    ★
                </div>
            </ng-template>
        </ngb-rating>
    </div>
    <div *ngIf="selIndex" class="h6 color-second text-center">
       <small> Your Rating:</small> {{ rating[selIndex - 1].val }}
    </div>
    <div class="mt-3">
        <textarea class="comment-box" placeholder="Write your comment"></textarea>
    </div>
    <div class="mt-3 text-center">
        <button (click)="submit()" class="feb-submit">Submit</button>
        <div *ngIf="showspin">
            <mat-spinner class="mx-auto text-center mt-2"  diameter="25" color="accent"></mat-spinner>
        </div>
    </div>
</div>

