<app-seller-nav></app-seller-nav>
<div *ngIf="loaded && product; else spinner" class="w-100 d-flex">
    <div class="w-50 ml-2 mr-2">
      <mat-card class="mt-3 p-2 ml-2 text-center">
          <img class="prod-img p-5" mat-card-image src="{{ product.image1 }}">
          <div class="w-100 d-flex justify-content-between">
            <button (click)="altSeller()" class="w-100" mat-flat-button color="accent">
                Sell this Product
            </button>
         </div>
      </mat-card>
    </div> 
    <div class="w-50  mr-4">
        <mat-card class="mt-3 p-3 ml-2">
            <small class="text-secondary">
                {{ product.category }} > {{ product.sub_category }}
            </small>
          <mat-card-title class="mt-4 mb-5">
              <h2 class="color-second mb-0">{{ product.title }}</h2>
              <small id="price_tag" class="text-primary">Price: {{  getRealPrice(product.price, product.discount_percentage)  }}/-</small>
          </mat-card-title>
          <mat-card-content>
              <div>
                <h5 class="text-secondary">Description</h5>
                <p class="text-secondary">{{ product.description }}</p>
              </div>
              <div>
                <h5 class="text-secondary">Seller</h5>
                <mat-chip-list>
                  <mat-chip (click)="bindEvent()" id="{{ product.seller.id }}" placement="right"
                  [autoClose]="'outside'" ngbPopover="view seller"  class="bg-primary text-white">
                    <mat-chip-avatar>
                      <img class="w-100"  src="assets/img/seller.svg" alt="">
                    </mat-chip-avatar>
                    {{ product.seller.user.first_name }}
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div>
                <h5 class="text-secondary mt-3">
                  Reviews
                </h5>
                <app-rating-view [product]="product.slug"></app-rating-view>
              </div>
          </mat-card-content>
        </mat-card>
       
    </div> 
</div>
<ng-template>
    <mat-spinner class="pt-5 pb-5 mx-auto"></mat-spinner>
</ng-template>