<div *ngIf="loaded; else spinner" class="chat-sec">
    <div *ngIf="msgs.length > 0; else nochat">
        <div class="w-100 p-1 bg-primary">
            <h4 class="text-center text-white">
                Chat
            </h4>
        </div>
        <div class="d-flex">
            <div class="w-30 bg-light cust-sec border-right">
                
                <div *ngFor="let c of res.customers" class="mt-1">
                    <div (click)="custSelect(c.id)" class="d-flex border-bottom" [ngClass]="{'bg-primary':c.id== curChatUser,'text-white':c.id== curChatUser}">
                        <div class="w-25">
                            <img src="assets/img/customer/customer.png" alt="" class="w-100 rounded-circle p-2">
                        </div>
                        <div class="w-75">
                            <h5 class="p-3 pt-4">{{ c.name }}</h5>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="w-70 p-2 position-relative">
                <div class="mesg-sec">
                    <span *ngFor="let m of msgs">
                        <span [ngClass]="{'sellerchat':(m.fields.user == ownId)&&(m.fields.thread == selectedChat) , 'custChat': (m.fields.user == curChatUser)&&(m.fields.thread == selectedChat)}" *ngIf="m.fields.thread == selectedChat">{{m.fields.message}}</span>
                    </span>
                </div>
                <div class="d-flex action-sec">
                    <div class="w-75">
                        <textarea class="chat-box" placeholder="Type your message"></textarea>  
                    </div>
                    <div class="w-25">
                        <button (click)="sendMsg()" matRipple class="send-btn" color="accent" >
                            <mat-icon>send</mat-icon>
    
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<ng-template #nochat>
    <div class="text-center">
        <div class="w-100 chat-empty">
            <img src="assets/img/customer/empty.png" alt="" class="w-50">
        </div>
        <span class="h5 text-warning">
            You dont have any chats to show
        </span>
    </div>
</ng-template>

<ng-template #spinner>
    <mat-spinner diameter="50" class="mx-auto mt-5 pt-5 spinner"></mat-spinner>
</ng-template>