<div>
    <div class="p-2">
        <h4 class="text-center pt-4">
            Add Product
        </h4>
        <form [formGroup]="addProductForm" class="text-center mt-4" (submit)="addProduct()">
            <mat-form-field class="w-75 d-block mx-auto">
                <input formControlName="title" type="text" matInput placeholder="Title of Product">
            </mat-form-field>
            <mat-form-field class="w-75 d-block mx-auto">
                <textarea formControlName="description" matInput placeholder="Description" id="" cols="30" rows="10"></textarea>
            </mat-form-field>
            <mat-form-field class="w-75 d-block mx-auto">
                <mat-select placeholder="Category" formControlName="category">
                    <mat-option *ngFor="let c of categories" value="{{ c[0] }}">{{ c[1] }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-75 d-block mx-auto">
                <input formControlName="sub_category" type="text" matInput placeholder="Sub category">
            </mat-form-field>
            <mat-form-field class="w-75 d-block mx-auto">
                <input formControlName="price" type="text" matInput placeholder="Price">
            </mat-form-field>
            <mat-form-field class="w-75 d-block mx-auto">
                <input formControlName="discount_percentage" type="text" matInput placeholder="Discount Percentage">
            </mat-form-field>
            <mat-form-field class="w-75 d-block mx-auto">
                <input formControlName="stock" type="text" matInput placeholder="Available stock">
            </mat-form-field>
              
            <input required (change)="addFile($event)" type="file" class="w-75 d-block mx-auto">
            
            <div *ngIf="showProgress" class="mt-5 mb-3">
                <mat-spinner class="mx-auto" diameter="50">

                </mat-spinner>
                <mat-label>
                    Uploading {{ progress }}% 
                </mat-label>
            </div>

            <div class="mt-5 mb-3" *ngIf="completed">
                <h5 class="text-success text-center">
                    Product added successfuly.
                </h5>
            </div>

            <div class="d-block float-right p-4">
                <button [disabled]="!addProductForm.valid"  type="submit" mat-raised-button color="accent">Submit</button>
                <button (click)="close()" class="ml-3" type="button" mat-raised-button >Cancel</button>
            </div>
        </form>
    </div>
</div>
