<app-navbar></app-navbar>
<div *ngIf="product" class="w-100 d-flex">
  <div class="w-50 ml-2 mr-2">
    <mat-card class="mt-3 p-2 ml-2 text-center">
        <img class="prod-img p-5" mat-card-image src="{{ product.image1 }}">
    </mat-card>
    <mat-card class="mt-3 p-2 ml-2">
     <div class="w-100 d-flex justify-content-between">
        <button (click)="buy(product.slug)" class="ml-1 w-50 mr-1 pt-2 pb-2" mat-flat-button color="accent">Buy Now</button>
        <button (click)="addCart(product.title, product.id)" class="ml-1 w-50 mr-1 pt-2 pb-2 bg-primary text-white" mat-flat-button>Add to Cart</button>
     </div>
    </mat-card>
  </div> 
  <div class="w-50 mr-4">
      <mat-card class="mt-3 p-3 ml-2 product-info">
          <small class="text-secondary">
              {{ product.category }} > {{ product.sub_category }}
          </small>
        <mat-card-title class="mt-4 mb-5">
            <h2 class="color-second mb-0">{{ product.title }}</h2>
            <small id="price_tag" class="text-primary">Buy at {{  getRealPrice(product.price, product.discount_percentage)  }}/-</small>
        </mat-card-title>
        <mat-card-content>
            <div>
              <h5 class="text-secondary">Description</h5>
              <p class="text-secondary">{{ product.description }}</p>
            </div>
            <div>
              <h5 class="text-secondary">Sellers</h5>
              <mat-chip-list>
                <mat-chip id="{{ product.seller.id }}" placement="right"
                [autoClose]="'outside'" ngbPopover="view seller"  class="bg-primary text-white" (click)="changePrice(getRealPrice(product.price, product.discount_percentage)); removeSellerTik(); sellerClick()">
                  <mat-chip-avatar>
                    <img class="w-100"  src="assets/img/seller.svg" alt="">
                  </mat-chip-avatar>
                  {{ product.seller.user.first_name }}
                </mat-chip>
              </mat-chip-list>
              <div class="ml-5 d-flex" *ngIf="alternate_sellers.length > 0">
                <h6 class="text-secondary mt-2 pr-2">Other Sellers: </h6>
                <mat-chip-list *ngFor="let s of alternate_sellers;let i = index">
                  <mat-chip id="{{s.seller.id}}"
                   ngbPopover="view seller" #chip [class.tik-badge]='!flag'  (click)="changeSeller(i, s.seller.id,chip); sellerClick()" disableRipple  class="bg-second text-white mr-2">
                    <mat-chip-avatar>
                      <img class="w-100"  src="assets/img/seller.svg" alt="">
                    </mat-chip-avatar>
                   
                      {{s.seller.user.first_name}}
                   
                  </mat-chip>
                </mat-chip-list>
                
              </div>
            </div>
            <div>
              <h5 class="text-secondary mt-3">
                Reviews
              </h5>
              <app-rating-view [product]="product.slug"></app-rating-view>
            </div>
        </mat-card-content>
      </mat-card>
     
  </div> 
</div>