<app-seller-nav></app-seller-nav>
<div *ngIf="loaded">
    <div class="d-flex">
        <div class="w-25">
            <div matRipple class="card m-2 p-2 bg-primary text-center">
                <div class="d-flex">
                    <div class="w-50">
                        <img class="mx-auto w-25 rounded-circle" src="/assets/img/seller.svg" alt="">
                    </div>
                    <div>
                        <h5 class="text-white">{{ response.seller_name }}</h5>
                        <div class="text-warning">
                            <button mat-flat-button class="btn-rating">
                               <small>
                                <span class="rating-font">
                                    {{ response.rating }}
                                   </span>
                                   <mat-icon>star</mat-icon>
                               </small>
                            </button>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div (click)="pendingOrders()" matRipple class="p-2 card bg-danger text-white m-2 text-center">
                <h2> {{ response.pending_orders }} </h2>
                Pending Orders
            </div>
            <div matRipple class="p-2 card bg-white m-2 text-center">
                <h2> {{ response.total_products }} </h2>
                Total Products
            </div>
            <div matRipple class="p-2 card bg-success text-white m-2 text-center">
                <h2> {{ response.successful_orders }} </h2>
                Successful Orders
            </div>
        </div>
        <div class="w-50 products-view">
            <div class="h4 p-2">
                Your Products
            </div>
            <mat-grid-list class="mt-2 mb-2" cols="2" rowHeight="1:1" [gutterSize]="'7px'">
                <mat-grid-tile *ngFor="let product of products">
                    <mat-card class="w-100 position-relative">
                        <span [ngClass]="
                        {
                            'bg-success': product.fields.status == 'approved',
                            'bg-warning': product.fields.status == 'pending',
                            'bg-danger': product.fields.status == 'rejected'
                        }
                        " 
                        class="product-status text-white">
                            {{ product.fields.status | titlecase }}
                        </span>
                        <div class="text-center">
                            <img class="product-img p-4" mat-card-image src="http://127.0.0.1:8000/media/{{ product.fields.image1 }}" alt="">
                        </div>
                        <div>
                            <mat-card-title class="text-center">
                                <h5>{{ product.fields.title }}</h5>
                            </mat-card-title>
                            <mat-card-actions class="text-center">
                                    <div>
                                        <button (click)="edit(product.fields.slug)" mat-raised-button color="primary">Edit</button>
                                        <button (click)="delete(product.fields.slug, product.fields.title)" mat-raised-button color="warn">Delete</button>
                                    </div>
                                    <div>
                                        <div class="pt-2">
                                           Successful orders: {{ successfulOrders(product.pk).orders }}
                                        </div>
                                    </div>
                            </mat-card-actions>
                        </div>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile *ngFor="let product of response.alt_products">
                    <mat-card class="w-100 ">
                        <span [ngClass]="
                        {
                            'bg-success': getParsed(product.info).fields.status == 'approved',
                            'bg-warning': getParsed(product.info).fields.status == 'pending',
                            'bg-danger': getParsed(product.info).fields.status == 'rejected'
                        }
                        " 
                        class="product-status text-white mt-3">
                            {{ getParsed(product.info).fields.status | titlecase }}
                        </span>
                        <div class="text-center">
                            <img class="product-img p-4" mat-card-image src="http://127.0.0.1:8000/media/{{ getParsed(product.product).fields.image1 }} " alt="">
                        </div>
                        <div>
                            <mat-card-title class="text-center">
                                <h5> {{ getParsed(product.product).fields.title }} </h5>
                            </mat-card-title>
                            <mat-card-actions class="text-center">
                                    <div>
                                        <button (click)="editAlt(getParsed(product.info).pk, getParsed(product.product).fields.price)" mat-raised-button color="primary">Edit</button>
                                        <button (click)="delete(getParsed(product.info).pk , getParsed(product.product).fields.title, 'alt')" mat-raised-button color="warn">Delete</button>
                                    </div>
                                    <div>
                                        <div class="pt-2">
                                           Successful orders: {{ successfulOrders( getParsed(product.product).pk ).orders }}
                                        </div>
                                    </div>
                            </mat-card-actions>
                            <div class="info text-center">
                                You are an alternate seller to this product
                            </div>
                        </div>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="w-25 m-3">
            <div class="d-flex">
                <button (click)="addProduct()" mat-flat-button color="accent">Add New Product</button>
                <button [routerLink]="['']" routerLinkActive="router-link-active"  mat-flat-button color="warn" class="ml-2">Go to website</button>
            </div>
            <div class="search-box">
                <app-search-box></app-search-box>
            </div>
            <div>
                <app-revenue></app-revenue>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!loaded">
    <div class="text-center pt-5 mt-5">
        <mat-spinner class="mx-auto pt-5 mt-5" diameter="50"></mat-spinner>
        <h5 class="p-2">Loading..</h5>
    </div>
</div>