button{
    outline: none;
}
span.rating-font {
    font-size: 20px;
}
.btn-rating {
    background: #000000;
    color: #ffc107;
}
.product-img {
    height: 169px;
    width: auto !important;
    margin: auto !important;
}
.products-view{
    max-height: 600px !important;
    overflow-y: scroll;
}
.card {
    box-shadow: 0px 0px 14px #00000026;
    margin-bottom: 20px !important;
    cursor: pointer;
}
mat-icon{
    vertical-align: text-bottom !important;
}
.product-status {
    padding: 3px 7px !important;
    position: absolute;
    left: 0;
    top: 15px;
    border-radius: 5px;
    font-size: 11px;
}
.info{
    font-size: 10px;
}
