<mat-progress-bar *ngIf="showProgress" mode="query"></mat-progress-bar>
<div *ngIf="!success">
        <div class="d-flex">
        <div class="pl-4 pt-2 pb-2 w-50">
                        <mat-vertical-stepper linear>
                        <mat-step>
                        <ng-template matStepLabel>Fill your basic info</ng-template>
                        <form [formGroup]="signupForm" class="mb-0">
                        <mat-form-field class="w-75">
                                <mat-icon matSuffix>business</mat-icon>
                                <input autocomplete="off" formControlName="company_name" matInput placeholder="Company / Seller Name">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-75">
                                <mat-icon matSuffix>person</mat-icon>
                                <input autocomplete="off" formControlName="seller_name" matInput placeholder="Owner Full Name">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-75">
                                <mat-icon matSuffix>email</mat-icon>
                                <input autocomplete="off" formControlName="email" matInput placeholder="Email">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-75">
                                <mat-icon matSuffix>phone</mat-icon>
                                <input autocomplete="off" formControlName="phone" matInput placeholder="Phone">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-75">
                                <mat-icon matSuffix>lock</mat-icon>
                                <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
                                <mat-hint>
                                        password should have atleast 8 characters
                                </mat-hint>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-75">
                                <mat-icon matSuffix>lock</mat-icon>
                                <input autocomplete="off" formControlName="cpassword" type="password" matInput placeholder="Confirm password">
                        </mat-form-field>
                        </form>
                </mat-step>
                <mat-step>
                        <ng-template matStepLabel>Fill your GSTIN and bank info</ng-template>
                        <form [formGroup]="signupForm2" class="mt-4 mb-0">
                                <mat-form-field class="w-75">
                                        <mat-icon matSuffix>person</mat-icon>
                                        <input autocomplete="off" formControlName="gstin" matInput placeholder="GSTIN">
                                </mat-form-field>
                                <br>
                                <mat-form-field class="w-75">
                                        <mat-icon matSuffix>account_balance_wallet</mat-icon>
                                        <input autocomplete="off" formControlName="acc_no" matInput placeholder="Bank account number">
                                </mat-form-field>
                                <br>
                                <mat-form-field class="w-75">
                                        <mat-icon matSuffix>account_balance_wallet</mat-icon>
                                        <input autocomplete="off" formControlName="ifsc_code" matInput placeholder="Bank IFSC code">
                                </mat-form-field>
                                <br>
                                <mat-form-field class="w-75">
                                        <mat-icon matSuffix>person</mat-icon>
                                        <input autocomplete="off" formControlName="your_state" matInput placeholder="Your state">
                                </mat-form-field>
                                <br>
                                <mat-form-field class="w-75 mb-3">
                                        <mat-icon matSuffix>person</mat-icon>
                                        <input autocomplete="off" formControlName="your_city" matInput placeholder="Your city">
                                </mat-form-field>
                                <br>
                        </form>
                </mat-step>
                <mat-step>
                        <ng-template matStepLabel> Register your seller account</ng-template> 
                        <button type="button" (click)="sellerRegister()" [disabled]="!signupForm.valid || !signupForm2.valid || showProgress" class="mr-3 mt-2" mat-raised-button color="warn">Register your Seller account</button>
                </mat-step>
                </mat-vertical-stepper>
                <div class="mb-2">
                        <mat-label class="text-danger" *ngIf="signup_error">
                                        {{ signup_error }}
                        </mat-label>
                </div>
        </div>
        <div class="pl-4 pt-5 mt-5 w-50">
                <div class="pt-4 mt-4">
                        <h4>Seller Registration</h4>
                        <p>
                                Get started with shopio..!
                        </p>
                </div>
        </div>
    </div>
</div>
<div *ngIf="success" class="pt-5 pb-5 pl-2 pr-2">
        <h4 class="p-4 pr-2 text-success">
                Registration completed successfully
        </h4>
</div>
