<app-seller-nav></app-seller-nav>
<div class="text-center">
    <div class="pl-3 pr-3 pt-5 pb-5 mt-5">
        <h2 class="text-warning pb-2">Your seller request is under review!</h2>
        <p class="text-secondary">
            You will receive review result as mail in your registered email id.
        </p>
    </div>
</div>
