<div class="p-3">
    <h4 class="text-primary">
        Set Expected Delivery Date
    </h4>
    <div class="mt-5">
        <div class="row w-100">
            <div class="col-md-6">
                <div *ngIf="data.curr_date != null">
                    <div class="font-weight-bold">Current date</div>
                    <div class="p-2">
                        {{data.curr_date | date }}
                    </div>
                </div>
                <div class="mt-2">
                    <div class="font-weight-bold">Delivery Address</div>
                    <div class="p-2">
                       <div>{{ data.address.fields.house_or_office_name }},</div>
                       <div>{{ data.address.fields.landmark }},</div>
                       <div>{{ data.address.fields.district }},</div>
                       <div>{{ data.address.fields.state }},</div>
                       <div>Pin: {{ data.address.fields.pincode }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input (dateInput)="addDate($event)" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Select order status</mat-label>
                    <mat-select [(value)]="status">
                      <mat-option *ngFor="let o of order_statuses" value="{{o}}">{{o}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button (click)="submit()" mat-raised-button color="accent">Submit</button>
    </div>
</div>