<div>
   <div *ngIf="loaded">
    <div *ngIf="review_data.reviews.length > 0; else norating">
        <div *ngFor="let r of review_data.reviews" class="rating-container rounded p-2 bg-light m-2">
            <div class="h6 font-weight-bold text-secondary">
                {{ commentTitle(r.fields.rating) }}
                <span class="star-symbol bg-success"><span class="text-white"> {{ r.fields.rating }} </span><span class="text-white">★</span></span>
            </div>
            <div class="d-flex">
                <div class="pl-2">
                    <div class="d-flex">
                        <small>
                            <mat-icon>person</mat-icon>
                        </small>
                        <span class="pl-1 pr-1">
                            {{ getFname(r.fields.customer) }}
                            <span>
                                &nbsp; |
                            </span>
                        </span>
                    </div>
                </div>
                <div class="inline-block p-1 font-11 text-secondary">
                    {{ r.fields.created_at | date }}
                </div>
            </div>
            <div class="p-2">
                " {{ r.fields.comment }} "
            </div>
       </div>
    </div>
    <ng-template #norating>
        <div class="p-2 text-center">
            <div class="h6 text-secondary">
                No reviews yet
            </div>
        </div>
    </ng-template>
   </div>
</div>