<div class="navbar bg-white">
    <div class="d-flex container justify-content-between">
             <div class="logo d-flex">
                 <a routerLink = '/seller'>
                    <img class="logo-img" src="assets/img/logo.png" alt="">
                 </a>
            </div>
             <div class="mt-3">
             <button class="ml-1 mr-1" (click)="sellerLoginDialog()" *ngIf="!sellerLoggedIn" mat-flat-button><mat-icon>person</mat-icon>Login as Seller</button>
             <button class="ml-1 mr-1" [matMenuTriggerFor]="loginMenu" *ngIf="sellerLoggedIn" mat-flat-button ><mat-icon>person</mat-icon>Welcome {{ sellerName }}</button>
             <button (click)="chat()" class="ml-1 mr-1" class="bg-light" *ngIf="sellerLoggedIn" matBadge="{{ getChatLenght }}"  matBadgeColor="accent" mat-flat-button ><mat-icon color="accent">chat</mat-icon> <span class="color-second"> Chats</span></button>
                <mat-menu #loginMenu="matMenu">
                        <button (click)="sellerLogout()" mat-menu-item>Logout<mat-icon class="ml-3 text-primary">exit_to_app</mat-icon></button>
                </mat-menu>
         </div>
    </div>
 </div>
 