<div class="pt-3">
    <mat-form-field style="width: 250px;">
        <input id="search-box" matInput placeholder="Search Product">
    </mat-form-field>
    <div class="position-relative">
        <div *ngIf="response != null" class="search-result">
           <div *ngIf="response.length > 0; else noresult">
            <div *ngFor="let r of response" class="product-item d-flex">
                <div class="w-25 text-center">
                    <img class="product-thumbnail" src="http://127.0.0.1:8000/resize/?path={{r.fields.image1}}&size=40,40" alt="">
                </div>
                <div class="w-75">
                    <div class="p-title">
                        {{ r.fields.title }}
                    </div>
                    <div class="actions">
                        <div class="sell-btn" routerLink="sell-product/{{r.fields.slug}}">
                            Sell this
                        </div>
                    </div>
                </div>
            </div>
           </div>
           <ng-template #noresult>
               <div class="text-secondary">
                   No results found
               </div>
           </ng-template>
        </div>
    </div>
</div>