.product-item {
    cursor: pointer;
    padding: 4px;
    border-bottom: 1px solid #00000024;
}
.search-result {
    padding: 5px;
    background: white;
    position: absolute;
    right: 8px;
    width: 100%;
    z-index: 1000;
}
.p-title{
    font-size: 14px;
    color: #007bff;
    text-align: left;
    font-weight: 500;
}
.actions {
    display: flex;
    margin-top: 5px;
}
.sell-btn {
    font-size: 12px;
    background: #28a745;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    margin-right: 10px;
}
.sell-btn:hover {
    opacity: .8;
}