<mat-progress-bar *ngIf="showBusy" mode="query"></mat-progress-bar>
<div *ngIf="!showSuccess" class="d-flex lsform p-3">
    <form [formGroup]="sellerloginForm" class="w-50" (submit)="submitLogin()">
            <div class="mt-4 mb-3">
                    <mat-form-field class="w-75">
                            <mat-icon matSuffix>person</mat-icon>
                            <input autocomplete="off" formControlName="sellerid" matInput placeholder="Seller ID">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="w-75">
                            <mat-icon matSuffix>lock</mat-icon>
                            <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
                    </mat-form-field>
                    <div class="d-flex">
                            <button type="button" (click)="sellerLogin()" [class.bg-primary]="true" class="text-white mr-3" mat-raised-button>Login</button>
                    </div>
                </div>
                <mat-label class="text-danger mb-2" *ngIf="loginErrors">
                        {{ loginErrors }}
                </mat-label>
            </form>
    <div class="w-50 pt-4">
        <h5 class="text-pimary">
           Seller Login
        </h5>
        <mat-hint>
                Get access to your Seller dashboard.
        </mat-hint>
    </div>
</div>

<div *ngIf="showSuccess" class="p-3">
    <h5 class="text-success mt-5 mb-5">
            You are logged in Successfully.!
    </h5>
</div>