<app-navbar></app-navbar>
<div>
    <div class="m-2 p-1" *ngIf="loaded; else spinner">
        <div class="row w-100">
            <div class="col-md-4">
                <div class="bg-white side-menu">
                    <div class="p-2 border-bottom mb-0">
                        <div class="row">
                            <div class="col-5 text-right">
                                <img src="assets/img/customer/customer.png" alt="" class="w-50 rounded-circle">
                            </div>
                            <div class="col-7 m-auto">
                                <div class="mx-auto">
                                    Hello, <br>
                                <b>
                                    {{cinfo.first_name}} {{cinfo.last_name}}
                                </b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <button (click)="selectMenu($event,'pinfo')" class="w-100 mt-1 active text-primary text-left pt-2 pb-2" mat-button>
                             <mat-icon matPrefix >info</mat-icon>
                             <span class="pl-3">Profile Info</span>
                        </button>
                        <button (click)="selectMenu($event,'daddress')" class="w-100 mt-1 text-primary text-left pt-2 pb-2" mat-button>
                            <mat-icon matPrefix >home</mat-icon>
                            <span class="pl-3">Delivery Address</span>
                       </button>
                       <button routerLink="/orders" class="w-100 mt-1 text-primary text-left pt-2 pb-2" mat-button>
                            <mat-icon matPrefix >shopping_cart</mat-icon>
                            <span class="pl-3">Orders</span>
                        </button>
                        <button (click)="chat()" class="w-100 mt-1 text-primary text-left pt-2 pb-2" mat-button>
                            <mat-icon matPrefix >chat</mat-icon>
                            <span class="pl-3">Chat</span>
                        </button>
                        <button (click)="logout()" class="w-100 mt-1 text-primary text-left pt-2 pb-2" mat-button>
                            <mat-icon matPrefix >exit_to_app</mat-icon>
                            <span class="pl-3">Logout</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div *ngIf="selected == 'pinfo'" class="p-3 bg-white">
                    <span class="h4 color-second">
                        Profile Info
                    </span>
                    <form class="mt-3" [formGroup]="profile" (submit)="update()">
                        <div class="row">
                            <mat-form-field class="col-6">
                                <input autocomplete="off" formControlName="firstName" matInput placeholder="First name">
                        </mat-form-field>
                        <mat-form-field class="col-6">
                                <input autocomplete="off" formControlName="lastName" matInput placeholder="Last name">
                        </mat-form-field>
                        <mat-form-field class="col-6">
                                <mat-label>
                                        Gender
                                </mat-label>
                                <mat-select formControlName="gender">
                                                <mat-option value="Male">Male</mat-option>
                                                <mat-option value="Female">Female</mat-option>
                                </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col-6">
                                <input autocomplete="off" formControlName="email" matInput placeholder="Email">
                        </mat-form-field>
                        <mat-form-field class="col-6">
                                <input autocomplete="off" formControlName="phone" matInput placeholder="Phone">
                        </mat-form-field>
                        </div>
                        
                        <button *ngIf="!showspin; else spin" (click)="update()" type="button" mat-button class="bg-primary text-white">Update</button>
                        
                        <ng-template #spin>
                            <mat-spinner color="accent" diameter="50" class="mx-auto mt-5 pt-5"></mat-spinner>
                        </ng-template>
                </form>
                </div>
                <div *ngIf="selected == 'daddress'" class="p-3 bg-white">
                    <span class="h4 color-second d-block">
                        Delivery Address
                    </span>
                    <div class="text-right">
                        <button (click)="addAddress()" mat-button class="text-white bg-primary mt-2 mb-2">
                            <mat-icon>add</mat-icon>
                            Add Delivery Address
                        </button>
                    </div>
                    <div>
                        <div *ngIf="addresses.length > 0; else noaddress">
                            <div *ngFor="let a of addresses; let i = index" class="p-2 border mt-2">
                                <div class="row w-100">
                                    <div class="col-10">
                                        <span class="h5 p-2">Address {{i+1}}</span>
                                    </div>
                                    <div class="col-2">
                                        <button mat-icon-button [matMenuTriggerFor]="menu" class="float-right">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="edit(i)">
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                        <button mat-menu-item (click)="delete(a.pk)">
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="row w-100">
                                    <div class="col-6">
                                       <div class="m-2 p-1">
                                        <small>
                                            House / Office Name: 
                                        </small>
                                        <span class="h6"> {{a.fields.house_or_office_name}}</span>
                                       </div>
                                       <div class="m-2 p-1">
                                        <small>
                                            State: 
                                        </small>
                                        <span class="h6"> {{a.fields.state}}</span>
                                        </div>
                                        <div class="m-2 p-1">
                                            <small>
                                                Pincode: 
                                            </small>
                                            <span class="h6"> {{a.fields.pincode}}</span>
                                       </div>
                                    </div>
                                    <div class="col-6">
                                       <div class="m-2 p-1">
                                            <small>
                                                Landmark: 
                                            </small>
                                            <span class="h6"> {{a.fields.landmark}}</span>
                                       </div>
                                       <div class="m-2 p-1">
                                        <small>
                                            District: 
                                        </small>
                                        <span class="h6"> {{a.fields.district}}</span>
                                   </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #noaddress>
                        <div class="pt-5 pb-5 w-100">
                            <span class="text-center text-danger pt-5 pb-5 mt-5 mb-5 h6">
                                You don't have added any delivery address
                            </span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        
    </div>
    <ng-template #spinner>
       <div class="w-100 text-center mt-5 pt-5">
        <mat-spinner color="accent" diameter="60" class="mx-auto mt-5 pt-5"></mat-spinner>
       </div>
    </ng-template>
</div>
