.prod-img{
    height: 50px;
}
.update-btn {
    border: none;
    background: #E91E63;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
    box-shadow: 0px 0px 6px #00000057;
    border-radius: 20px;
}