<div class="p-2">
    <div *ngIf="loaded; else spinner">
        <div *ngIf="no_pending_orders == false; else no_orders" class="row w-100">
            <div *ngFor="let order of orders" class="col-md-6">
                <div class="m-1 border p-1">
                    <div class="row w-100">
                        <div class="col-4">
                            <img class="prod-img" src="http://127.0.0.1:8000/media/{{product(order.fields.ordered_product).fields.image1}}" alt="">
                        </div>
                        <div class="col-8">
                            <div class="h6">
                                {{ product(order.fields.ordered_product).fields.title }}
                            </div>
                            <div>
                                <span>Status: </span>
                                <span class="text-danger">
                                    {{order.fields.order_status}}
                                </span>
                            </div>
                           <div class="d-flex mt-2">
                                <div>
                                    <button (click)="deliveryDate(order.pk)" class="update-btn">
                                        Update Status
                                    </button>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #no_orders>
            <div>
                <div class="pt-5 mt-5 pb-5 mb-5">
                    <h5 class="text-warning text-center">
                        No pending orders.
                    </h5>
                </div>
            </div>
        </ng-template>
    </div>
    <ng-template #spinner>
        <div class="pt-5 mt-5 pb-5 mb-5">
            <mat-spinner diameter="50" class="mx-auto">
                
            </mat-spinner>
        </div>
    </ng-template>
</div>