<app-navbar></app-navbar>

<div *ngIf="loaded; else spinner">
    <div class="container">
       <div class="cart-container">
        <div class="cart-item" *ngFor="let c of cartItems" >
            <div>
                <img (click)="viewProduct(c.fields.slug)" class="item-image" src="http://127.0.0.1:8000/media/{{c.fields.image1}}" alt="">
            </div>
            <div class="d-flex align-items-center">
                <div class="item-info" (click)="viewProduct(c.fields.slug)">
                    <div class="item-name">{{c.fields.title}}</div>
                    <div class="item-category"> {{c.fields.category}} </div>
                </div>
                <div class="item-actions">
                    <button (click)="remove(c.fields.slug)" class="bg-danger">Remove</button>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>

<ng-template #spinner>
    <div class="mt-5">
        <mat-spinner diameter="50" class="mx-auto"></mat-spinner>
    </div>
</ng-template>