.cart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.cart-item {
    background: white;
    margin: 15px;
    box-shadow: 0px 11px 20px #0000001a;
    padding: 10px;
    cursor: pointer;
    outline: none;
}
.cart-item:active{
    opacity: .5;
}
.item-name {
    line-height: 1;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
}
.item-category {
    color: #a0a0a0;
    font-size: 13px;
}
.item-image {
    height: 100px;
}
.item-actions button {
    margin: 5px;
    display: block;
    width: 100px;
    font-size: 12px;
}
.item-info {
    width: 300px;
}
.item-actions button {
    outline: none;
    border: none;
    color: white;
    padding: 4px 0;
    border-radius: 5px;
}