<app-seller-nav></app-seller-nav>

<div class="p-3 pt-5 mt-5 text-center">
    <h3 class="text-danger">
        Your seller account is rejected!
    </h3>
    <mat-card matRipple class="w-50 mx-auto mt-3">
        <mat-card-title>
            Reason for Rejection
        </mat-card-title>
        <mat-card-content class="text-secondary">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam rem, consequuntur mollitia commodi dolorem voluptates placeat et magnam corrupti sit amet voluptatem, consectetur doloribus ad eaque, cumque impedit aliquam libero.
        </mat-card-content>
    </mat-card>
</div>
