/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background: white;
}
::-webkit-scrollbar-thumb {
    background: #3296f6;
    border-radius: 10px;
}
.color-second{
    color: #ff4081 !important;
}
.bg-light-yl{
    background: #ffeb3b59;
}
.bg-second{
    background: #ff4081 !important; 
}
.bg-light-green{
    background: #1dd410;
    font-weight: 500;
}
.ov{
    overflow:visible !important;
}
.tik-badge::before {
    content: "L";
    height: 20px;
    width: 6px;
    position: absolute;
    right: -3px;
    top: -10px;
    font-weight: 900;
    color: #00fd00;
    transform: rotate(46deg) scaleX(-1);
    font-size: 23px;
}
.tik-badge{
    overflow: visible !important;
}
button{
    outline: none !important;
}
.mr-auto{
    margin:auto !important;
}
.outline-none{
    outline: none !important;
}
.mtb-auto{
    margin: auto 0;
}