<div>
    <div class="rating-ct">
        <div *ngIf="loaded; else spinner">
            <div class="rating-text">
                Total Earnings
            </div>
            <div class="rating-val">
                ₹ {{ earning }} /-
            </div>
        </div>
        <ng-template #spinner>
            <mat-spinner class="mx-auto" color="accent" diameter="30"></mat-spinner>
        </ng-template>
    </div>
</div>