.rating-ct {
    background: #9C27B0;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px #00000040;
}
.rating-text {
    font-size: 13px;
    color: white;
}
.rating-val {
    color: white;
    font-size: 30px;
    font-weight: 500;
}