<mat-progress-bar *ngIf="showMatProgress" mode="query"></mat-progress-bar>
<div *ngIf="showLogin && !isLoggedIn" class="d-flex lsform p-3">
    <form [formGroup]="loginForm" class="w-50" (submit)="submitLogin()">
            <div class="mt-4 mb-3">
                    <mat-form-field class="w-75">
                            <mat-icon matSuffix>person</mat-icon>
                            <input autocomplete="off" formControlName="username" matInput placeholder="Username">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="w-75">
                            <mat-icon matSuffix>lock</mat-icon>
                            <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
                    </mat-form-field>
                    <div class="d-flex">
                            <button [disabled]="!loginForm.valid" type="submit" [class.bg-primary]="this.loginForm.valid" class="text-white mr-3" mat-raised-button>Login</button>
                            <button (click)="showLogin=!showLogin"  type="button" mat-raised-button color="accent">Sign Up</button>
                    </div>
                </div>
                <mat-label class="text-danger mb-2" *ngIf="login_error">
                        {{ login_error }}
                    </mat-label>
            </form>
    <div class="w-50 pt-4">
        <h5 class="text-pimary">
            Login
        </h5>
        <mat-hint>
                Get access to your Orders.
        </mat-hint>
    </div>
</div>

<div *ngIf="!showLogin && !isLoggedIn" class="d-flex lsform p-3">
        <div class="w-50">
                <form [formGroup]="signupForm" (submit)="signUp()" class="mt-4 mb-0">
                        <mat-form-field class="w-75">
                                <input autocomplete="off" formControlName="firstName" matInput placeholder="First name">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-75">
                                <input autocomplete="off" formControlName="lastName" matInput placeholder="Last name">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-75">
                                <mat-label>
                                        Gender
                                </mat-label>
                                <mat-select formControlName="gender">
                                                <mat-option value="Male">Male</mat-option>
                                                <mat-option value="Female">Female</mat-option>
                                </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-75">
                                <input autocomplete="off" formControlName="email" matInput placeholder="Email">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-75">
                                <input autocomplete="off" formControlName="phone" matInput placeholder="Phone">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-75 mb-3">
                                <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
                                <mat-hint>
                                        password should have atleast 8 characters
                                </mat-hint>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-75">
                                <input autocomplete="off" formControlName="cpassword" type="password" matInput placeholder="Confirm password">
                        </mat-form-field>
                        <div class="d-flex">
                                <button [disabled]="!signupForm.valid" class="mr-3" mat-raised-button color="accent">Sign Up</button>
                                <button class="bg-primary text-white" (click)="showLogin=!showLogin"  type="button" mat-raised-button>Login</button>
                        </div>
                        <div class="mt-2">
                                <mat-label class="text-danger" *ngIf="signup_error">
                                                {{ signup_error }}
                                </mat-label>
                        </div>
                </form>
    
        </div>
        <div class="w-50 pt-5">
            <h5 class="text-pimary">
                Sign Up
            </h5>
            <mat-hint>
                    Welcome to WebCart! Yes here customer is the King :)
            </mat-hint>
        </div>
</div>

<div *ngIf="isLoggedIn" class="p-3">
        <h5 class="text-success mt-5 mb-5">
                You are logged in Successfully.!
        </h5>
</div>